main {
    width: min(1200px, 92%);
    margin: 28px auto;
    display: grid;
    grid-template-columns: 1fr 320px;
    column-gap: 24px;
    row-gap: 10px;
}

/* Content*/
.content {
    background:#fff;
    padding: 18px;
    border-radius: 4px;
}
.content h1 {
    text-align: center;
    margin-bottom: 18px;
    font-size: 28px;
}
.content > img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border: 1px solid #ddd;
}
.content p {
    margin-top: 12px;
    line-height: 1.55;
    color:#333;
    font-size: 14px;
}
.content h2 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 22px;
}

