@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'toastr/build/toastr.min.css';
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.sidebar-transition {
    transition: all 0.3s ease-in-out;
}

.content-transition {
    transition: margin-left 0.3s ease-in-out;
}

.dropdown-transition {
    transition: all 0.2s ease-in-out;
}

